:root {
  --md-sys-color-primary: #126ae2;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #edf2f4;
  --md-sys-color-on-primary-container: #002020;
}

#light-theme {
  --cor-click: #126ae2; /* Click */
  --cor-sombra: #0a599b; /* Azul Escuro */
  --cor-text: black; /* Preto */
  --cor-back1: #edf2f4; /* Azul claro */
  --cor-back2: #6a937a; /* Verde Escuro */

  --cinza: #E2E8F0;
  --cor-borda: #CBD5E0;
  
  --frequencia: #126ae2;
  --nota: #126ae2;
  --prova: #126ae2;
}

#dark-theme {
  --cor-click: #CEF09D;
  --cor-sombra: #9b0a59;
  --cor-text: black;
  --cor-back1: #38184C;
  --cor-back2: #4f6a93;
  --md-sys-color-primary: #CEF09D;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  margin: 0px;
  background-color: var(--cor-back1);

  font-family: 'Inter', sans-serif;
}

h1 {
  color: var(--cor-text);
  font-size: 20px;
  font-weight: 700;
}

h2 {
  color: var(--cor-text);
  font-size: 18px;
  font-weight: 600;
}

h3 {
  color: var(--cor-text);
  font-size: 16px;
  font-weight: 600;
}

h4 {
  color: var(--cor-text);
  font-size: 14px;
  font-weight: 500;
}

p {
  color: var(--cor-text);
  font-size: 12px;
  font-weight: 400;
}

button {
  border: 0;
  background: none;

  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;
}

header button, a {
  border: none;
  background: none;
  color: var(--cor-click);

  cursor: pointer;

  transition: color 0.3s;
}

header button:hover, a:hover {
  color: var(--cor-sombra);
}

header img {
  height: 24px;
  color: var(--cor-click)
}

.path_logo{
  fill: var(--cor-click);
}

#perfil {
  position: absolute;
  right: 0px;
  top: 10px;
  margin-right: 15px;
}

#mensagens {
  position: relative;
  background-color: white;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#user_name {
  display: block;
  font-size: 17pt;
}

#mns_box {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-top:5px;
}

#icon {
  height: 14px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

#mns {
  padding: 5px;
  width: 80%;
  display: inline-block;
}

.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: var(--cor-text)
}

#modal-container {
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #00000088;
}

.theme-modal {
  display: flex;
  flex-direction: column;
  gap: 24px;

  background: var(--cor-back1);
  border-radius: 8px;

  padding: 24px;
}

.theme-option {
  display: flex;
  align-items: center;
  gap: 12px;

  color: var(--cor-click);
  font-size: 16px;
  font-weight: 600;

  transition: 0.3s;
}

.theme-option:hover {
  color: var(--cor-sombra);
}

#componentes {
  position: relative;
  background-color: white;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-container {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    min-width: 100%;
    text-align: center;
}

.card img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.info {
    padding: 10px
}

.icon {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 2px;
    width: 18px;
    display: inline-block;
    vertical-align: middle
}

.news .controls {
  width: 100;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#prevBtn, #nextBtn {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;

  border: none;
  background: none;
  color: var(--cor-click);

  transition: color 0.3s;
}

#prevBtn:hover, #nextBtn:hover {
  color: var(--cor-sombra);
}

#prevBtn span, #nextBtn span {
  font-size: 16px;
}

#icon span {
  font-size: 18px;
  color: var(--cor-click);
}
